name: 'Tests'

on: ["push"]


jobs:
  tests:
    name: 'Run tests'
    runs-on: ubuntu-latest

    env:
      POSTGRES_DB: test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      CONFIG_PATH: ./config/tests.yaml

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go 1.25.x
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'

      - name: Install dependencies
        run: go mod download

      - name: Build service
        run: |
          go build -o ./billing ./cmd/billing
      - name: Set up database
        run: |
          go run ./cmd/migrator --migrations-path=./migrations

      - name: Run service
        run: |
          nohup ./billing &

      - name: Run tests
        run: go test -v ./tests
